<div class="flex flex-col h-screen overflow-hidden">
  <app-header (toggleSidebarEvent)="sidenav.toggle()"></app-header>
  
  <mat-sidenav-container class="flex-1 bg-transparent">
    <mat-sidenav 
      #sidenav 
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      class="w-[240px] bg-app-surface border-r border-app-border">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content class="flex flex-col h-full">
      <main class="flex-1 overflow-y-auto p-md sm:p-lg bg-app-background">
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
