<mat-nav-list class="sidebar-nav">
  <div id="profile" class="space-y-3 flex flex-col">
      <img
          class="w-20 h-40 md:w-40 rounded-full mx-auto block dark:hidden"
          src="notification-logo.png"
          alt="Company name"
        />

        <!-- Dark mode wali image (Light mode me chhip jayegi) -->
        <img
          class="w-20 h-40 md:w-40 rounded-full mx-auto hidden dark:block"
          src="notification-dark-logo.png"
          alt="Company name"
        />
    
  </div>
  <ng-container *ngFor="let item of navigationService.navigationItems()">
    <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <div matListItemTitle>{{ item.label }}</div>
    </a>
  </ng-container>
  <!-- Bottom Sidebar Content -->
    <!-- <div class="p-4 space-y-4">
      <div class="p-4 bg-slate-50 dark:bg-slate-800/50 rounded-xl border border-slate-200 dark:border-slate-800">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">👑</span>
          <span class="font-semibold text-sm">Pro Plan</span>
        </div>
        <div class="text-xs text-slate-500 dark:text-slate-400 mb-2">2,500 / 100,000</div>
        <div class="w-full bg-slate-200 dark:bg-slate-700 rounded-full h-1.5 mb-3">
          <div class="bg-blue-600 h-1.5 rounded-full" style="width: 2.5%"></div>
        </div>
        <button class="w-full py-1.5 px-3 bg-white dark:bg-slate-800 border border-slate-300 dark:border-slate-600 rounded-lg text-xs font-medium text-blue-600 dark:text-blue-400 hover:bg-slate-50 dark:hover:bg-slate-700 transition-colors">
          Upgrade Plan
        </button>
      </div>
    </div> -->
</mat-nav-list>