<!-- component -->
<footer class="bg-white dark:bg-[#050b18] transition-colors" aria-labelledby="footer-heading">
<div class="relative mx-auto max-w-7xl ">
      <div class="grid grid-cols-1 gap-y-14 lg:grid-cols-12 lg:gap-x-8">

        <!-- Brand Column -->
        <div class="lg:col-span-4">
          <a href="#" class="flex items-center gap-3 no-underline">
            <img class="h-9 w-9" src="small-logo.png" alt="NotificationEngine" />
            <span class="text-xl font-semibold text-slate-900 dark:text-white">
              Notification<span class="text-blue-600 dark:text-blue-400">Engine</span>
            </span>
          </a>
        </div>

      </div>

      <!-- Bottom Bar -->
      <div class="flex flex-col items-center justify-between  border-t border-slate-200 pt-1 sm:flex-row dark:border-slate-800">
        <!-- Copyright -->
        <p class="text-xs text-slate-500 dark:text-slate-500">
          &copy; 2026 NotificationEngine. All rights reserved.
        </p>

       
      </div>
      
    </div>
</footer>